<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas em tempo real</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- SocketIO -->
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="/static/script.js" defer></script>
</head>
<body>

<div class="container">
    <h1>Notas em Tempo Real</h1>

    <textarea class="caixa" id="vitoria" placeholder="Notas de Vitória"></textarea>
    <textarea class="caixa" id="nicole"  placeholder="Notas de Nicole"></textarea>
    <textarea class="caixa" id="marcelo" placeholder="Notas de Marcelo"></textarea>
    <textarea class="caixa" id="juan"    placeholder="Notas de Juan"></textarea>
</div>

</body>
</html>
